.browse-heading{
    width: 100%;
    font-size:1.3em;
    font-weight:bold;
    margin: 20px 0 10px 0;
}

.browse-result{
    width: 100%;
    margin: 10px 0 0 0;
    padding: 10px 0 10px 0;
    border: 3px dashed black;
    display: none;
    background-color: #fff9e6;
    overflow: auto;
}

.browse-result-heading{
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0 10px 5%;
    padding-left: 20px;
}

table.browse-summary{
    border-collapse : collapse;
    border : 2px white solid; /*#392d37*/
    width : 100%;
}

td.odd{
    background-color: #e6f2ff;
    text-align : center;
    padding: 2px 0 2px 0;
    border : 3px white solid; /*#392d37*/
}

td.even{
    background-color: #b3d7ff;
    text-align : center;
    padding: 2px 0 2px 0;
    border : 3px white solid; /*#392d37*/
}

td.row_heading{
    background-color: #004d99;
    color: #ffffff;
    text-align : center;
    font-weight: bold;
    padding: 2px 0 2px 0;
    border : 3px white solid; /*#392d37*/
}


table.browse-result-summary{
    border-collapse : collapse;
    border : 2px white solid; /*#392d37*/
    width : 98%;
    margin: 0 1% 0 1%;
}

table.browse-result-summary tr:nth-child(odd){
/*     background-color: #b1cde7;  */
    background-color : #e6f2ff;
}

table.browse-result-summary tr:nth-child(even){
/*     background-color: #d8e6f3; */
    background-color : #b3d7ff;
}

table.browse-result-summary td{
    text-align : center;
    padding: 2px 0 2px 0;
    border : 2px white solid; /*#392d37*/
}

a.browse_side_nav{
    display : block;
    padding : 15px 5px 15px 10px;
    margin: 10px 0 10px 0;
    font-size: 16px;
    font-weight: bold;
    text-decoration : none;
    color : white;
    background-color: #004d99;
    border: 2px solid black;
    box-shadow: 0px 0px 10px grey;
}
a.browse_side_nav:hover{
    background-color : #b3b3ff;
    color: #000000;
}

.section-footnote{
    margin:0 2% 0 2%;
}

.button-group{
    text-align: center;
/*     margin: 10px 0 0 0; */
}

.button-group:after{
  content: "";
  clear: both;
  display: table;
}

.button-group button{
    background-color : #e6e6ff;
    border: 1px solid black;
    color : black;
    padding : 5px 5px 5px 5px;
    font-size: 14px;
    font-family: 'Nunito', sans-serif;
    display: inline-block;
    margin: 5px 8px 5px 8px;
    float: left;
/*     width: 150px; */
    max-width: 100%;
/*     box-shadow: 0px 0px 5px grey; */
    cursor: pointer;
}

.button-group button:hover{
    background-color : #b3b3ff  ; /*#404040;*/
}

sup.link{
    cursor: pointer;
}
