@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Nunito:wght@900&display=swap');
 
body{
    background-color : #ffffff; /*#fffafa;*/
    font-size: 1.05em;
    font-family: 'Nunito Sans', sans-serif;
}
.sticky{
/*     width: 100%; */
    position: fixed;
    top: 0;
}
.section_header{
    width: 100%;
    background-color: white;
/*     border-style: solid; */
/*     border-width: 2px 4px 0px 4px; */
}
.title{
/*     background-color: #ffe6cc; */
    font-size: 2.5em;
    font-weight: bold;
    margin: 0;
    padding: 5px;
/*     margin-color: #ffe6cc; */
}
.section_menu{
    width : 100%;
/*     background-color: #132639; */
/*     border-color: #132639; */
    background-color : #004d99;
    border-color: #004d99;
    border-style : solid;
    border-width : 2px 2px 2px 2px;
    box-shadow: 0px 3px 10px grey;
    overflow: auto;
}
.section_left{
    margin: 20px 0 0 0;
    width : 18%;
    float : left;
}
.section_middle{
    width : 90%;
    margin: 0% 5% 0% 5%;
    float : right;
    padding-top : 10px;
    /*                 background-color : lightyellow */
}
.section_right{
    width : 85%;
/*     margin: 0% 5% 0% 5%; */
    float : right;
    padding-top : 10px;
    /*                 background-color : lightyellow */
}
div.side_nav{
    border-style : solid;
    border-width : 0px 0px 1px 0px;
    background-color : #e6ffcc;
}
a.side_nav{
    display : block;
    padding : 5px 15px 5px 15px;
    font-size: 1.2em;
    font-weight: bold;
    text-decoration : none;
    color : white;
}
a.side_nav:hover{
    background-color : #b3b3ff;
    color: #000000;
}
a.active {
    background-color: #e6e6ff;
    color: black;
    font-size: 1.2em;
    font-weight: bold;
    display : block;
    padding : 5px 15px 5px 15px;
    text-decoration : none;
/*     border : 4px #808080 solid; */
/*     border-style : solid; */
/*     border-color : #808080; */
/*     border-width : 0px 6px 0px 6px; */
}
table.form{
    border-collapse : collapse;
    border-width : 0px;
    width : 100%;
}
table.form tr:nth-child(odd){
    background-color : #b3daff;
}
table.form tr:nth-child(even){
    background-color : #80c1ff;
}
table.form td{
    text-align:center;
}
table.summary{
    border-collapse : collapse;
    border : 2px white solid; /*#392d37*/
    width : 100%;
    /*margin-left : 10%;
    margin-right : 10%;*/
}
table.summary tr:nth-child(odd){
/*     background-color: #b1cde7; */
    background-color : #e6f2ff;
}
table.summary tr:nth-child(even){
/*     background-color: #d8e6f3; */
    background-color : #b3d7ff;
}
table.summary td{
    text-align : center;
    padding: 10px 0 10px 0;
    border : 2px white solid; /*#392d37*/
}
table.details{
    border-collapse : collapse;
    border : 2px black solid;
    width : 80%;
    margin-left : 10%;
    margin-right : 10%;
}
table.details tr:nth-child(odd){
    background-color : #e6f2ff;
}
table.details tr:nth-child(even){
    background-color : #b3d7ff;
}
table.details td{
    text-align : center;
    border : 3px white solid;
}
th{
/*     background-color: #31669b; */
    background-color : #004d99;
    color : #ffffff;
    padding : 5px;
    border : 2px solid white; /*#392d37*/
    text-align: center;
}
button{
    background-color : #e6e6ff;
    border: 1px solid black;
    color : #000000;
    padding : 5px 10px 5px 10px;
    border-radius: 5px;
    font-weight : bold;
    font-family: 'Nunito', sans-serif;
    box-shadow: 0px 0px 2px grey;
    cursor: pointer;
}
button.round{
    border-radius:50%;
}
button:hover{
    background-color : #b3b3ff; /*#404040;*/
    color: #000000;
}
select{
    background-color : #e6e6ff;
    border: 1px solid black;
    border-radius: 5px;
    color : #000000;
    padding : 5px 10px 5px 10px;
    font-weight : bold;
    box-shadow: 0px 0px 2px grey;
}
input[type=submit]{
    background-color : #e6e6ff;
    border: 1px solid black;
    border-radius: 5px;
    color : #000000;
    padding : 5px 10px 5px 10px;
    font-weight : bold;
    box-shadow: 0px 0px 2px grey;
}
input[type=number]{
    background-color : #e6e6ff;
    border: 1px solid black;
    border-radius: 5px;
    color : #000000;
    padding : 5px 10px 5px 10px;
    font-weight : bold;
    box-shadow: 0px 0px 2px grey;
}
select:hover{
    background-color : #b3b3ff; /*#404040;*/
    color: #000000;
}
input[type=submit]:hover{
    background-color : #b3b3ff; /*#404040;*/
    color: #000000;
}
input[type=number]:hover{
    background-color : #b3b3ff; /*#404040;*/
    color: #000000;
}
input.full, select.full{
    width : 90%;
    margin-top : 5px;
    margin-bottom : 5px;
}
